<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cc.dao.ShipMapper">

    <insert id="insertShip" parameterType="com.cc.pojo.Ship" useGeneratedKeys="true" keyProperty="id">
        insert into ship (`index`,type,port,level,district,length,width,height,grosston,deadweight,enginetype,enginepower,builddate,factory,dealdate,predict)
        values (#{index},#{type},#{port},#{level},#{district},#{length},#{width},#{height},#{grosston},#{deadweight},#{enginetype},#{enginepower},#{builddate},#{factory},#{dealdate},#{predict})
    </insert>
</mapper>

